body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    position: fixed;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #341010;
    border-radius: 5px;
    width: 95%;
    opacity: 81%;
    margin-left: 20px;
    top: 10px;
    z-index: 10;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    margin-left: 15px;
}

.navbar .nav-links ul li{
    margin: 0 50px;
}

.navbar .nav-links ul li.section a:hover, a:focus {
    color: #ffd725;
    text-shadow: 0 0 10px #ffc400, 0 0 20px
}

@media screen and (max-width: 900px){
    .nav-links {
        display: none;
    }
}

@font-face {
  font-family: 'Alice';
  src: url('./Alice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('./Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.colmena {
    position:fixed;
    left: -130px;
    bottom: -150px;
}

.leaf-margin {
    position: fixed;
    top: 15px;
    right: 10px;
    height: 250px;
    width: auto;
}

.title {
    color: #ffa125;
    text-shadow: 0 0 1px #ffbd59, 0 0 3px;
    font-family: 'Alice', serif;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    font-size: 25px;
}

.line-about {
    position: absolute;
    left: 90px;
    top: -100px;
}

.cat-about {
    display: flex;
    margin-left: 420px;
    margin-top: 260px;
    margin-bottom: 10px;
}

.about-text {
    position: absolute;
    right: 200px;
    top: 250px;
    width: 280px;
    color: white;
    font-size: 25px;
    text-align: right;
    font-family: 'Lora', serif;
}