@font-face {
  font-family: 'Alice';
  src: url('./Alice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('./Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.leaf-margin {
    position: fixed;
    top: 15px;
    right: 10px;
    height: 250px;
    width: auto;
}

.cat-home {
    position: fixed;
    top: 150px;
    left: 410px;
    height: 200px;
    width: auto;
}

.line-home {
    position: fixed;
    top: 250px;
    left: 640px;
    height: 380px;
}

h1 {
    color: #ffa125;
    text-shadow: 0 0 1px #ffbd59, 0 0 3px;
    font-family: 'Alice', serif;
    position: absolute;
    top: 150px;
    left: 720px;
    font-size: 35px;
}

.container {
    background-color: #ffc525;
    width: 7px;
    height: 80px;
    position: absolute;
    top: 220px;
    left: 720px;
}

h6 {
    color: white;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.box {
    width: 150px;
    position: absolute;
    top: 180px;
    left: 740px;
}
